.input-v{
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  text-align: right;
}
td > input[type=number]{
  border: none;
  background: transparent;
  text-align: right;
}
td > input[type=text]{
  border: none;
  background: transparent;
  text-align: left;
}
