td > input[type=number]{
    border: none;
    background: transparent;
    text-align: right;
}
td > input[type=text]{
    border: none;
    background: transparent;
    text-align: left;
}

.overflow-input{
    overflow: auto !important;
    height: calc(100vh - 234px) !important;
}
.status-initial {
  color: blue;
}

.status-pending {
  color: orange;
}

.status-edit {
  color: red;
}

.status-approved {
  color: green;
}

.status-rejected {
  color: gray;
}


::ng-deep .no-border-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
