.ant-row {
    margin: 0 !important;
}

.overflow-tab {
    overflow: auto !important;
    height: calc(100vh - 206px) !important;
}
.overflow-input{
    overflow: auto !important;
    height: calc(100vh - 234px) !important;
}


th {
    text-align: center !important;
}

td > input[type=number]{
    border: none;
    background: transparent;
    text-align: right;
}
td > input[type=text]{
    border: none;
    background: transparent;
    text-align: left;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}